/* @import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Montserrat:ital,wght@0,400;0,600;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@300&display=swap'); */

/* font-family: 'Arsenal', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif; */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body .page {
    max-width: 1920px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    color: inherit;
}

/* Header-contacts part */

.wrapper-contacts {
    background: #09131B;
    color: rgb(161, 161, 161)
}

.header-contacts {
    min-height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.header-contacts__list {
    display: flex;
    gap: 20px;
    color: #FFF;

    font-family: 'Roboto Slab', serif; 
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    text-decoration-line: underline;
}

.header-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-link img {
    min-width: 24px;
}

.header-networks__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-networks__item .fa {
    font-size: 24px;
}


/* Header-menu part */
.wrapper-main {
    height: 1520px;

    background-image: image-set(
        url('./assets/images/Background.jpg') type('image/jpg'),
        url('./assets/images/Background.png') type('image/png'),
        url('./assets/images/Background.svg') type('image/svg')
    );
    background-repeat: no-repeat;
    background-position: center;
}

.container-header {
    color: #FFF;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 20.4px */
    text-transform: uppercase;
}



